<h1>Joel Rocero</h1>
<ul>
  <li>create controller that will handle the end-point of the request</li>
  <li>
    create interface to handle the method of converting the number to words
  </li>
  <li>create a static helper that convert the number to words</li>
  <li>declare interface and class in Program.cs</li>
  <li>configure CORS policy in Program.cs</li>
  <li>generate components for entering the number (/number)</li>
  <li>generate components for displaying the words (/word)</li>
  <li>generate service that handle the request to api</li>
</ul>
